.resources__link {
  -webkit-transition: -webkit-box-shadow 2s ease;
  -o-transition: box-shadow 2s ease;
  transition: box-shadow 2s ease;
  }

.resources__link:hover {
  -webkit-box-shadow: 0px 0px 10px grey inset;
  box-shadow: 0px 0px 10px grey inset; 
  border-radius: 20%;
 }