.section-subtitle {
  width: 60%;
<<<<<<< HEAD
  margin: 0;
=======
  margin: 0 0 60px;
>>>>>>> aa14982822b45c7f180c4e9e3504c7760d7a4825
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}