@-webkit-keyframes rotation-square {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
   to {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
   }
}

@keyframes rotation-square {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
   to {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
   }
}

.rotation {
  -webkit-animation: rotation-square 20s linear infinite;
          animation: rotation-square 20s linear infinite;
}